<app-page-title title="{{ tituloTela }}" *ngIf="!modal"></app-page-title>
<div class="modal-header" *ngIf="modal">
    <h4 class="modal-title pull-left">{{ tituloTela }}</h4>
</div>
<div [ngClass]="{ 'modal-body' : modal }">
    <div class="row mt-2" *ngIf="!modal">
        <div class="col-12">
            <a class="btn btn-primary" [routerLink]="['/produtos/cadastrar']">
                <i class="fas fa-plus"></i>
                Novo
            </a>
        </div>
    </div>
    <form name="formSelecaoProduto">
        <table class="table table-bordered bg-white mt-2" [ngClass]="{ 'table-hover' : produtos.length > 0 }">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Marca</th>
                    <th>Preço</th>
                    <th class="col-opcoes">Opções</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="produtos.length > 0">
                    <tr *ngFor="let produto of produtos">
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.marca }}</td>
                        <td>{{ produto.preco | currency:'BRL' }}</td>
                        <td>
                            <div class="d-flex justify-content-around">
                                <button type="button" class="btn border border-primary"
                                    tooltip="Iniciar nova compra." placement="left"
                                    container="body" (click)="select(produto)"
                                    *ngIf="modal">
                                    <i class="fas fa-shopping-cart"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="produtos.length == 0">
                    <tr>
                        <td colspan="4">
                            Nenhum produto foi encontrada.
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <pagination [totalItems]="totalItens" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)" 
            [(ngModel)]="currentPage" [ngModelOptions]="{standalone: true}"
            previousText="Anterior" nextText="Próxima">
        </pagination>
    </form>
</div>
<div class="modal-footer" *ngIf="modal">
    <button type="button" class="btn btn-secondary" (click)="select(null)">Fechar</button>
</div>